.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.item {
    width: 20px;
    background-color: #FFFFFF;
}